<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>添加城市</title>
</head>
<body>
    <div>
        添加城市
    </div>

    <form action = "/addCity" method="post">
        <p>
            <label for="orderWrold">城市首字母</label>
            <input type="text" name="orderWrold" id="orderWrold"/>
        </p>
        <p>
            <label for="cityName">城市名字</label>
            <input type="text" name="cityName" id="cityName"/>
        </p>
        <p>
            <input type="submit" value="添加"/>
        </p>
    </form>
</body>
</html>