<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加社区</title>
</head>
<body>
<div>
    添加社区
</div>
    <form action = "/addCommunity" method="post">
        <p>
            <label for="cityId">选择城市</label>
            <select name="cityId" id="cityId" >
                <div th:each="cityList :${cities}">
                    <option th:each="city : ${cityList}" th:value="${city.cityId}">
                        <div th:id="${city.cityId}"  th:text="${city.cityName}">
                        </div>
                    </option>
                </div>
            </select>
        </p>
        <p>
            <label for="community">社区名字</label>
            <input type="text" name="community" id="community"/>
        </p>
        <p>
            <input type="submit" value="添加"/>
        </p>
    </form>
</body>
</html>