<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PeopleMapper">
    <select id="selectPeopleByPhone" parameterType="People" resultType="People">
        SELECT * FROM people WHERE phone = #{phone}
    </select>

    <insert id="addCustomer" parameterType="People">
        INSERT  INTO people(phone,autonym,cityCommunity,address,password,state)
        VALUE (#{phone},#{autonym},#{cityCommunity},#{address},#{password},3)
    </insert>

    <update id="updataPeoplePasswordByPhone" parameterType="People">
        UPDATE people
        <trim prefix="SET" suffixOverrides=",">
            <if test="password!=null">password = #{password}</if>
        </trim>
        WHERE phone = #{phone}
    </update>

    <select id="selectPeople" resultType="People">
        SELECT * FROM people
    </select>
</mapper>