a {
 text-decoration: none;
 color: #626262;
}
a:hover {
 text-decoration: none;
}



#dcMain {
 background-color: #FFFFFF;
 zoom: 1/* padding-top:40px; */
}

/*- tableBasic -*/
.tableBasic {
 background-color: #F9F9F9;
 color: #666666;
 border-left: 1px dotted #CCCCCC;
 border-top: 1px dotted #CCCCCC;
}
.tableBasic select {
 color: #8F8F8F;
}
.tableBasic td, .tableBasic th {
 border-right: 1px dotted #CCCCCC;
 border-bottom: 1px dotted #CCCCCC;
}
.tableBasic th {
 background-color: #EEEEEE;
 height: 16px;
}
.tableBasic .child {
 background-color: #FFFFFF;
}

/* 当前位置
----------------------------------------------- */
#urHere {
 background-color:#F5F5F5;
 border-left: 1px solid #FFF;
 height: 35px;
 line-height: 37px;
 color: #A0A0A0;
 padding-left: 20px;
}
#urHere a {
 color: #A0A0A0;
}
#urHere b {
 margin: 0 13px;
}
/* 公共主区域
----------------------------------------------- */
.mainBox {
 border-left: 1px solid #FFF;
 padding: 0px 22px 50px 22px;
}
.mainBox h3 {
 border-bottom: 1px solid #D7D7D7;
 color: #666666;
 font-size: 28px;
 padding-bottom: 20px;
 margin-bottom: 30px;
}
.mainBox h3 .actionBtn {
 float: right;
 display: inline-block;
 background-color: #28B779;
 padding: 0 20px;
 height: 27px;
 line-height: 27px;
 color: #FFFFFF;
 font-size: 13px;
 font-weight: bold;
}
.mainBox h3 .add {

 padding-left: 40px;
}
.mainBox .filter {
 margin: 0 0 10px -2px;
 height: 35px;
}
.mainBox .filter form {
 float: left;
}
.mainBox .filter span {
 float: right;
}
.mainBox .action {
 margin: 10px 0 0 -2px;
}
.mainBox .warning {
 border: 1px solid #E6DB55;
 background: #FFFBCC;
 padding: 10px;
 margin-bottom: 20px;
}

/* 分页
----------------------------------------------- */
.pager {
 text-align: right;
 padding-top: 20px;
 color: #666;
}
.pager a {
 color: #666;
 text-decoration: underline;
}

