<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>商城</title>
    <link rel="stylesheet" href="/css/store.css"/>
    <link rel="stylesheet" href="/css/swiper-3.4.2.min.css" />
    <script src="/js/swiper-3.4.2.min.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div style="background: #d84f59;">
        <div class="header">
            <div class="back" >
                <img src="img/back.png" height="50px" width="50px"/>
            </div>

            <div class="search" >

                <img src="img/search.png" height="50px" width="50px"/>

            </div>

        </div>

        <div class="logo">
            <div class="logo_img">
                <img src="img/logo-no.png" height="100%" width="100%"/>
            </div>
            <div class="logo_text">
                <h2>成华小区</h2>
                <p>社区超市</p>
            </div>

        </div>
        <div class="explain">
            <p>宜选宜买宜便宜，购好购真购实惠</p>
        </div>

    </div>
    <div class="center" style="width:100%;  height: 100%;">
        <div class="swiper-container" id="swiper-container2" style="width:100%; font-size: 3em; ">
            <div class="swiper-wrapper" style=" padding-left: 13%; display: flex;display: -webkit-flex;flex-flow: row wrap;justify-content: space-around;">
                <div class="swiper-slide active-nav">
                    商品</div>
                <div class="swiper-slide">
                    评论</div>
            </div>
        </div>

        <div class="swiper-container" id="swiper-container3" >
            <div class="swiper-wrapper">
                <div class="swiper-slide blue-slide">
                    <div class="main">
                        <div class="left-menu" >
                            <div th:each="categorylist : ${categories}">
                                <ul th:each="category : ${categorylist}">
                                    <li th:text="${category.category}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="con">
                            <div class="right-con" th:each="categorylist : ${categories}">
                            <ul th:each="category : ${categorylist}">
                                <li th:each="goods : ${category.goods}">
                                    <div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
                                    <div class="menu-txt" >
                                        <h4 th:text="${goods.goods}"></h4>
                                        <p class="list1" th:text="${goods.description}"></p>
                                        <p class="list2">
                                            <b>￥<b th:text="${goods.price}"></b></b>
                                        <div class="btn">
                                            <button class="minus">
                                                <strong></strong>
                                            </button>
                                            <i>0</i>
                                            <button class="add">
                                                <strong></strong>
                                            </button>
                                            <i class="price" th:text="${goods.price}"></i>
                                        </div>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="footer" >
                            <div class="left">已选：
                                <span id="cartN">
			<span id="totalcountshow">0</span>份　总计：￥<span id="totalpriceshow">0</span></span>元
                            </div>
                            <div class="right">
                                <a id="btnselect" class="xhlbtn  disable" href="javascript:void(0)">前往购物车</a>
                            </div>
                        </div>
                    </div>

                    <div class="shopping_cart" style="display: none">
                        <div class="ly"></div>
                        <div class="shopping_list">
                            <div class="shopping_cart_head">
                                <p style="font-size: 1.6em;color: black;border-left: 8px red solid;padding: 10px;">购物车详情</p><a href="###">清空购物车</a>
                            </div>
                            <table fitColumns="true" id="tab">
                                <tr>
                                    <td field="name">名称</td>
                                    <td field="price">价格</td>
                                    <td field="num">数量</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="swiper-slide red-slide">
                    <div class="prccom-con">
                        <div style="overflow: hidden;">
                            <span class="name">李女士</span>
                            <span class="time">2015-09-25</span>
                        </div>
                        <p>趁 着中秋节，又习了好多，都很新鲜</p>
                        <img src="images/p1.jpg" width="100" height="100" class="com-pic" />
                    </div>

                </div>

            </div>
        </div>
    </div>



    <script>
        var mySwiper2 = new Swiper('#swiper-container2',{
            watchSlidesProgress : true,
            watchSlidesVisibility : true,
            slidesPerView : 3,
            onTap: function(){
                mySwiper3.slideTo( mySwiper2.clickedIndex)
            }
        })
        var mySwiper3 = new Swiper('#swiper-container3',{

            onSlideChangeStart: function(){
                updateNavPosition()
            }

        })

        function updateNavPosition(){
            $('#swiper-container2 .active-nav').removeClass('active-nav')
            var activeNav = $('#swiper-container2 .swiper-slide').eq(mySwiper3.activeIndex).addClass('active-nav');


            if (!activeNav.hasClass('swiper-slide-visible')) {
                console.log(1);
                if (activeNav.index()>mySwiper2.activeIndex) {
                    console.log(2);
                    var thumbsPerNav = Math.floor(mySwiper2.width/activeNav.width())-1
                    mySwiper2.slideTo(activeNav.index()-thumbsPerNav)
                }
                else {
                    console.log(3);
                    mySwiper2.slideTo(activeNav.index())
                }
            }
        }


        $(function () {
            //加的效果
            //<![CDATA[

            $(".add").click(function () {
                $(this).prevAll().css("display", "inline-block");
                var n = $(this).prev().text();
                var num = parseInt(n) + 1;
                if (num == 0) { return; }
                $(this).prev().text(num);
                var danjia = $(this).next().text();//获取单价
                var a = $("#totalpriceshow").html();//获取当前所选总价
                $("#totalpriceshow").html((a * 1 + danjia * 1).toFixed(2));//计算当前所选总价

                var nm = $("#totalcountshow").html();//获取数量
                $("#totalcountshow").html(nm*1+1);
                jss();//<span style='font-family: Arial, Helvetica, sans-serif;'></span>   改变按钮样式
            });
            //减的效果
            $(".minus").click(function () {
                var n = $(this).next().text();
                var num = parseInt(n) - 1;

                $(this).next().text(num);//减1

                var danjia = $(this).nextAll(".price").text();//获取单价
                var a = $("#totalpriceshow").html();//获取当前所选总价
                $("#totalpriceshow").html((a * 1 - danjia * 1).toFixed(2));//计算当前所选总价

                var nm = $("#totalcountshow").html();//获取数量
                $("#totalcountshow").html(nm * 1 - 1);
                //如果数量小于或等于0则隐藏减号和数量
                if(num <= 0){
                    $(this).next().css("display", "none");
                    $(this).css("display", "none");
                    jss();//改变按钮样式
                    return;
                }
            });
            function jss() {
                var m = $("#totalcountshow").html();
                if (m > 0) {
                    $(".right").find("a").removeClass("disable");
                } else {
                    $(".right").find("a").addClass("disable");
                }
            };
            //选项卡
            $(".con>li").hide();
            $(".con>li:eq(0)").show();

            $(".left-menu div ul li").click(function(){
                $(this).addClass("active").siblings().removeClass("active");
                var n = $(".left-menu div li").index(this);
                $(".left-menu div li").index(this);
                $(".con>div").hide();
                $(".con>div:eq("+n+")").show();
            });
        });
        //]]>

        $(document).ready(function () {
            $('#btnselect').click(function () {
                $('.shopping_cart').show();
            })
        })

    </script>
</body>
</html>