<!doctype html>
<html>
<head>
	<title>无标题文档</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="css/store.css"/>

</head>

<body>

<div class="header">
	<div class="back">

		<img src="img/back.png" height="50" width="50"/>
	</div>

	<div class="search">

		<img src="img/search.png" height="50" width="50"/>

	</div>

</div>


<div class="main">
	<div class="left-menu">
		<ul>  
           <li class="active">营养套餐<span class="num-price"></span></li>  
           <li>酒水饮料</li>  
           <li>酒水饮料</li>  
           <li>酒水饮料</li> 
		   <li>酒水饮料</li>  
           <li>酒水饮料</li>  
           <li>酒水饮料</li> 
		   <li>酒水饮料</li>  
           <li>酒水饮料</li>  
           <li>酒水饮料</li> 
		   <li>酒水饮料</li>  
           <li>酒水饮料</li>  
           <li>酒水饮料</li>  
        </ul> 
	</div>
	<div class="con">
		<div class="right-con con-active">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>宫保鸡丁</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>宫保鸡丁</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>宫保鸡丁</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>宫保鸡丁</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right-con">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right-con">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right-con">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right-con">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right-con">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="right-con">
			<ul>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
				<li>
					<div class="menu-img"><img src="img/pic.png" width="55" height="55" /></div>
					<div class="menu-txt">
						<h4>京酱肉丝</h4>
						<p class="list1">家常菜</p>
						<p class="list2">
							<b>￥25</b>
							<div class="btn">  
								 <button class="minus">  
									 <strong></strong>  
								 </button>  
								 <i>0</i>  
								  <button class="add">  
									 <strong></strong>  
								 </button>  
								 <i class="price">25</i>  
							 </div> 
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer">  
		<div class="left">已选：
		<span id="cartN">
			<span id="totalcountshow">0</span>份　总计：￥<span id="totalpriceshow">0</span></span>元  
		</div>  
		<div class="right">  
			<a id="btnselect" class="xhlbtn  disable" href="javascript:void(0)">去结算</a>  
		</div>   
	</div>
</div>

<script type="text/javascript" src="js/jquery-3.1.1min.js"></script>
<script type="text/javascript">
$(function () {  
	//加的效果
    //<![CDATA[

	$(".add").click(function () {  
		$(this).prevAll().css("display", "inline-block");  
		var n = $(this).prev().text();  
		var num = parseInt(n) + 1;  
		if (num == 0) { return; }  
		$(this).prev().text(num);  
		var danjia = $(this).next().text();//获取单价  
		var a = $("#totalpriceshow").html();//获取当前所选总价  
		$("#totalpriceshow").html((a * 1 + danjia * 1).toFixed(2));//计算当前所选总价  
		  
		var nm = $("#totalcountshow").html();//获取数量  
		$("#totalcountshow").html(nm*1+1);  
		jss();//<span style='font-family: Arial, Helvetica, sans-serif;'></span>   改变按钮样式
	});  
	//减的效果  
	$(".minus").click(function () {  
		var n = $(this).next().text();  
		var num = parseInt(n) - 1;  

		$(this).next().text(num);//减1  

		var danjia = $(this).nextAll(".price").text();//获取单价  
		var a = $("#totalpriceshow").html();//获取当前所选总价  
		$("#totalpriceshow").html((a * 1 - danjia * 1).toFixed(2));//计算当前所选总价  
		 
		var nm = $("#totalcountshow").html();//获取数量  
		$("#totalcountshow").html(nm * 1 - 1);  
		//如果数量小于或等于0则隐藏减号和数量  
		if(num <= 0){
			$(this).next().css("display", "none");  
			$(this).css("display", "none");  
			jss();//改变按钮样式  
			return;
		}  
	});  
	function jss() {  
		var m = $("#totalcountshow").html();  
		if (m > 0) {  
			$(".right").find("a").removeClass("disable");  
		} else {  
		   $(".right").find("a").addClass("disable");  
		}  
	};
	//选项卡
	$(".con>div").hide();
	$(".con>div:eq(0)").show();	
	
	$(".left-menu li").click(function(){
		$(this).addClass("active").siblings().removeClass("active");
		var n = $(".left-menu li").index(this);
		$(".left-menu li").index(this);
		$(".con>div").hide();
		$(".con>div:eq("+n+")").show();	
	});
});
//]]>
</script>
</body>
</html>
