<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Upload Page</title>

    <style>

        * {
            font-family: "Microsoft YaHei UI";
        }

        .uploadButton {
            width: 200px;
            height: 60px;
            border-radius: 25px;
            background-color: beige;
            display: flex;
            flex-flow: row nowrap;

        }
    </style>



</head>
<body>
    <div class="container">

        <div class="" id="uploadButton">
            <div >+ 图片</div>
        </div>

        <h3>你的上传文件最后的七牛URL地址是</h3>
        <a style="font-size: 26px;" id="result" href="#">
        </a>
    </div>


    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/qiniu.js"></script>

    <script>
        $(document).ready(function () {

            var _token = null;

            $.ajax({
                url: '/token',
                type: 'get',
                success: function (data) {
                    _token = data;
                    console.debug('A: ' + _token);
                }
            });


            // 上传空间URL
            //var uploadSpace = 'http://om1bngllf.bkt.clouddn.com';
            var uploadSpace = 'http://osjlnn3k1.bkt.clouddn.com';

            qiniu.config({
                url: uploadSpace,
                uploadUrl: 'up-z0.qiniu.com' // 七牛统一的一个上传域名，固定
            });


            qiniu.bind($('#uploadButton'), {
                filter: 'image'
            }).on('file', function(file) {

                console.debug('---');

                var imagesBucket = qiniu.bucket('learning', {
                    putToken: _token
                });

                console.debug('B: ' + _token);

                // 上传文件名
//                var fileName = 'abc_' + new Date().getMilliseconds() + '.jpg';

//                var fileName

                console.debug(file);

                var fileName = file.name;

                //传入路径位置
//                fileName = 'images/' + fileName;

                fileName = fileName;

//                    return;

                console.debug('文件名：'  + fileName);


                // Upload
                imagesBucket.putFile(fileName, file)
                    .then(
                        function(reply) {
                            // 上传成功
//                            console.dir(reply);
                            console.debug(reply.hash);
                            console.debug(reply.key);
                            var se = new Date().getMilliseconds();
                            $('#result').html(uploadSpace + '/' + fileName + '?v=' + se);
                            $('#result').prop('href', uploadSpace + '/' + fileName + '?v=' + se);
                            var url = uploadSpace + '/' + fileName + '?v=' + se;
                            var data = "{\"url\":\""+url+"\"}"
                            $.ajax({
                                type: 'POST',
                                url: "/addBanner",
                                data: data,
                                contentType:"application/json",
                                success:function(data){
                                    alert(data);
                                    console.info(data);
                                },
                                error:function (data,status,er) {
                                    console.info(data);
                                }
                            })
                        },
                        function(err) {
                            // 上传失败
                            console.error(err);
                        }
                    );
            });

        });

        $.extend({
            upload2Qiniu:function () {

            }
        });
    </script>
</body>
</html>